 @inherits UmbracoViewPage<IHeaderProperties>   
    
       <header class="masthead" style="background-image: url('@(Model.HeaderImage?.Url())')">
            <div class="container px-4 px-lg-5" >
                <div class="row gx-4 gx-lg-6 " style="height: 400px;">
                    <div class="col-md-6 col-lg-6 col-xl-6 align-self-center">
                      
                            <h1>@Model.Title</h1>
                            @if (string.IsNullOrWhiteSpace(@Model.TitleTwo)) 
                        {} else
                        { 
                            <h1>@Model.TitleTwo</h1>
                        }
                            <span class="subheading">@Model.Subtitle</span>
                          

                        @if (@Model.Icon == null || Model.IconTwo == null) 
                        {} else
                        { 
                            <div class="col-12 apps">
                            

                             <img src="@Model.Icon.Url()" alt="App store" style="width: 35%;">

                             <img src="@Model.IconTwo.Url()" alt="Play store" style="width: 35%;">
                        
                         </div>
                        }
                        
                       
                    </div>                   
                </div>
            </div>
        </header>